@media only screen and (min-width: 660px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr; /* each fr is a equal space column. */
  }
}
.introduction .avatar {
  border-radius: 100px;
  width: 170px;
}
.avatarr {
  border-radius: 100px;
  width: 170px;

  bottom: 1px;
}

.center {
  text-align: center;
}
.h1 {
  margin-top: 50px;
  margin-left: 15px;
  text-align: left;
  padding: 5px;
  font-family: "Gothic A1";
  color: black;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 25px;
  background-size: 0px;
  display: inline-block;
}
.h3 {
  text-align: left;
  padding: 5px;
  margin-left: 15px;
  font-family: "Gothic A1";
  color: black;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 25px;
  background-size: 0px;
  display: inline-block;
}
.h4 {
  text-align: left;
  font-family: "Gothic A1";
}
.h {
  text-align: center;
  font-family: "Gothic A1";
}
.main-menu {
  background-color: rgba(211, 211, 211, 0.5);
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
  text-align: center;
  font-family: "Gothic A1";
  width: 100%;
}

.main-menu a {
  text-decoration: none;
  padding: 10px;
  color: #fdde6b;
}
